h1 {
    font-size: 1.5em; /* 40px/16=2.5em */ ;
    font-family: "Times New Roman" ;
    color:darkred ;
    text-align: center;
    border-style: ridge;
    border-color: black;
    background:rgba(139, 176, 247, 0.884) /* Green background with 30% opacity */
  }

 h2 {font-size: font-size: 14px ;
    font-family: "Times New Roman" ;
    text-align: center;
    } 
h3 {font-size: 2.5em; /* 60px/16=2.5em */ ;
    font-family: "Courier New" ;
    color:darkblue ;
    text-align: center;
    border-style: ridge;
    }
p{font: size 30px; /* 40px/14=2.5em */ ;
    font-family: "Courier New" ;
    color:black ;
    text-align: center;
    border-style: ridge;
    border-color: black;
    background-color:lavender;
    background:rgba(139, 176, 247, 0.884)
    
}


body {text-align: center;
    background-image: url("IMAGENS/lugia.png");
border-style: solid;

;
}  

.video-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

video {
    width: 100%;
    height: auto;
    display: block;
}

.galeria-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas iguais */
    gap: 10px; /* Espaçamento entre as imagens */
}
.galeria-grid img {
    width: 100%; /* As imagens irão preencher a largura da célula */
    border-radius: 8px; /* Borda arredondada */
}
/* Animação do carrossel (CSS keyframes para transição automática) */
@keyframes slide {
    0% { transform: translateX(0); }
    25% { transform: translateX(-100%); }
    50% { transform: translateX(-200%); }
    75% { transform: translateX(-300%); }
    100% { transform: translateX(0); }
}

/* Aplicando a animação ao carrossel */
.carousel-images {
    animation: slide 10s infinite;
}